body, figure, p, h1, ul, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.2em;
  color: black;
}

h4 {
  font-size: 1em;
  color: black;
  font-weight: 300;
}

p {
  font-size: 1em;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
}

section {
  padding: 1rem;
}

section i {
  padding: 0.7rem;
}

button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: large;
  font-weight: 500;
  border-radius: 50px;
  height: 3.5rem;
  width: 15rem;
  border: none;
}

header {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
header img {
  width: 60%;
}

img {
  max-height: 200px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfdfdf;
  height: 4rem;
}
form input {
  background-color: #dfdfdf;
  border: none;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.reservation p {
  color: #5d5d5d;
  font-size: 1.2rem;
}
.reservation h2, .reservation p {
  text-align: center;
  margin: 0.7rem 0;
}
.reservation button {
  margin: 0.7rem 0;
}

.fonctionnement {
  margin: 1rem 0;
}
.fonctionnement .fonctionnement-explications .fonctionnement-explications__step {
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #f6f6f6;
  margin: 1rem 0.5rem;
  padding: 1rem 0.5rem;
  box-shadow: 0 0 16px #0000002e;
}
.fonctionnement .fonctionnement-explications .fonctionnement-explications__step > p {
  width: 17rem;
  margin: 0 0.5rem;
  font-weight: 500;
  font-size: large;
}
.fonctionnement .fonctionnement-explications .fonctionnement-explications__step i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 2rem;
  color: #777777;
  text-align: center;
}
.fonctionnement .fonctionnement-explications .fonctionnement-explications__step .fonctionnement-explications__step--round-purple-background {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: relative;
  left: -1rem;
  background-color: #9356DC;
  min-width: 2rem;
  min-height: 2rem;
}
.fonctionnement .fonctionnement-explications .fonctionnement-explications__step .fonctionnement-explications__step--round-purple-background p {
  color: white;
  font-weight: 500;
}

.restaurants {
  background-color: #f6f6f6;
}
.restaurants .restaurants-articles-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.restaurants .restaurants-articles-container figure {
  position: relative;
  margin-top: 1rem;
  border-radius: 1.27rem;
  box-shadow: 0 0 16px #0000002e;
  width: 100%;
}
.restaurants .restaurants-articles-container figure img {
  max-width: 100%;
  height: 30rem;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 1.27rem;
  border-top-right-radius: 1.27rem;
}
.restaurants .restaurants-articles-container figure p {
  background-color: #99e2d0;
  padding: 0.4rem;
  text-align: center;
  color: #278870;
  font-weight: 500;
  position: absolute;
  top: 0.8rem;
  right: 2rem;
}
.restaurants .restaurants-articles-container figure figcaption {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.restaurants .restaurants-articles-container figure figcaption i {
  font-size: 1.5rem;
  color: #777777;
}

footer {
  padding: 1rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #353535;
}
footer img {
  max-width: 100%;
  width: 10rem;
  filter: invert(1);
}
footer ul {
  list-style-type: none;
  color: white;
}
footer ul li {
  display: flex;
  align-items: center;
  padding: 0.3rem 0;
}
footer ul li i {
  width: 1.4rem;
}
footer ul li a {
  color: white;
  text-decoration: none;
}
footer ul li a:active {
  color: white;
  text-decoration: none;
}

.menu-header {
  padding-bottom: 0;
  margin-bottom: 0;
}
.menu-header div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.menu-header div a {
  position: absolute;
  left: 7%;
}
.menu-header div a i {
  font-size: 1.6rem;
  color: black;
}
.menu-header figure {
  width: 100%;
}
.menu-header figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  display: flex;
  flex-direction: column;
}

.carte {
  background-color: #f6f6f6;
  margin-top: -1.3rem;
  border-radius: 20px;
  padding: 0;
  z-index: 2;
}
.carte > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.carte > div h1 {
  font-family: "Shrikhand", cursive;
}
.carte > div i {
  font-size: 1.3rem;
}
.carte button {
  margin: 2.5rem 0;
}

.carte__part h2 {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0.3rem;
}
.carte__part h2::after {
  content: "";
  padding-top: 2px;
  width: 2.8rem;
  display: block;
  border-bottom: 2px solid #99e2d0;
}
.carte__part article {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  border-radius: 20px;
  padding: 0.9rem;
  margin: 1rem 0;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .logo {
    max-width: 50%;
  }

  form {
    max-width: 50%;
    margin: 0 auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  form i {
    padding: 0.6rem;
    font-size: 1.6rem;
  }
  form input {
    padding: 0.6rem;
    width: 35%;
    height: 70%;
    font-size: larger;
  }

  .fonctionnement h2 {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .fonctionnement .fonctionnement-explications .fonctionnement-explications__step {
    max-width: 70%;
    margin: 2rem auto;
  }

  .restaurants h2 {
    margin-left: 1rem;
  }
  .restaurants .restaurants-articles-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants .restaurants-articles-container a {
    width: 48%;
    margin: 0rem 1%;
  }

  footer {
    align-items: center;
  }
  footer img {
    width: 15rem;
  }
  footer li {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .reservation button {
    font-size: x-large;
    width: 22rem;
    height: 4.5rem;
  }

  .fonctionnement .fonctionnement-explications {
    display: flex;
    justify-content: space-around;
  }
  .fonctionnement .fonctionnement-explications .fonctionnement-explications__step {
    height: 4rem;
    margin: 0;
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
