// Menu Fade In
@for $i from 1 through 10 {
    .fade-#{$i} {
      animation: fadein $fade-in-delay * $i;
    }
  }

// Like on hover
.like-container {
    position: relative;

    .hover-like {
      right: 0rem;
      opacity: 0;
      position: absolute;
    }

    &:hover {
      overflow: hidden;
  
      .like {
        opacity: 0;
        transition: .5s 0s ease;
      }
  
      .hover-like {
        color: $primary-color;
        font-weight: 900;
        opacity: 1;
        transition: .5s 0s ease;
        z-index: 2;
      }
    }
  }

//Add to card
//Design
.price-circle-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .price{
    padding: 1.5rem;
  }
  .check-circle-container{
    background-color: $tertiary-color;
    height: 100%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding:10px;
    display: none;
    .check-circle{
      color:$light-background-color;
      font-size: 1.5rem;
    }
  }
}
//hover animation
.carte__part{
  article{
    &:hover{
      .price {
        animation: slide-in-price ease $check-circle-delay;
        animation-fill-mode: forwards;
      }
      .check-circle-container {
        animation: slide-in-check-box ease $check-circle-delay;
        animation-fill-mode: forwards;
        display: block;
        overflow: hidden;
        .check-circle {
          animation: check-box-turn ease $check-circle-delay;
        }
      }
    }
  }
}

//Spinner
.spinner-container{
  animation: spinner-appear 2s .2s;
  @include flex-center-center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
  opacity: 0;
  &::before{
    content: "";
    position: absolute;
    width: 100%; 
    height: 100%;  
    opacity: .5; 
    z-index: -1;
    background-color: $light-background-color;
    
  }
  .spinner-container__extern-border{
    @include round-border(100%);
    @include flex-center-center;
      border:10px $detail-background-color solid;
      width: 7rem;
      height: 7rem;
    .spinner-container__loader{
      @include flex-center-center;
      @include round-border(100%);
      animation: spinner-spin 2s linear infinite;
      border-right:10px $primary-color solid;
      border-left:10px $primary-color solid;
      border-top:10px $secondary-color solid;
      border-bottom:10px $secondary-color solid;
      width: 6rem;
      height: 6rem;
      .spinner-container__intern-border{
        @include flex-center-center;
        width: 5rem;
        height: 5rem;
        border:10px $detail-background-color solid;
        @include round-border(100%);
      }
    }
  }
}