.menu-header{
    padding-bottom:0;
    margin-bottom:0;
    div{
    @include flex-center-center;
    position: relative;
        a{
            position: absolute;
            left:7%;
            i{
                font-size: 1.6rem;
                color: black;
            }
        }
    }

    figure{
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
body{
    display: flex;
    flex-direction: column;
}
.carte{
    background-color: $light-background-color;
    margin-top: -1.3rem;
    @include round-border();
    padding: 0;
    z-index: 2;
    &>div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        h1{
            font-family: 'Shrikhand', cursive;
        }
        i{
            font-size: 1.3rem;
        }
    }
    button{
        margin: 2.5rem 0;
    }
}

.carte__part{
    h2{
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 0.3rem;
    }
    h2::after{
        content:'';
        padding-top: 2px;
        width: 2.8rem;
        display: block;
        border-bottom: 2px solid $detail-background-color;
    }
    article{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        @include round-border();
        margin:1rem 0;
        font-weight: 600;
        padding-left: 1rem;
    }
}