@mixin round-border($size : $default-radius){
    border-radius: $size;
}

@mixin primary-button{
    @include linear-gradient($secondary-color,$primary-color);
    color: $text-color-light;
    font-size: large;
    font-weight: 500;
    @include round-border(50px);
    height: $primary-button-height;
    width: $primary-button-width;
    border: none;
};
@mixin flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin linear-gradient($from,$to){
    background-image: linear-gradient($from,$to);
}